/* Aspectos generales: borde y color de fondo de la calculadora */
.calculadora {
    background-color: lavender;
    border: 3px lightblue ridge;
    text-align: center;
    width: 250px;
}

.calculadora input.largo{
    color: blueviolet;
    width: 60px;
}

.calculadora [type= button]{
    padding: 0;
    width: 35px;
}