

section {
    background: lightblue;
    border: darkblue 2px solid;
    color: darkgray;
    font: bold 24px/150% Arial;
    margin: 10px;
    text-align: center;
    padding: 10px;
    width: 300px;
}

.cor{
    background:lightgreen;
    border: green 2px solid;
    color: darkgreen;
}

.inc{
    background: red;
    border: darkred 2px solid;
    color: black;
}