<style> /*selector de elemento o etiqueta*/
        body {
        	margin: 0;
        }

    	h1{
    		font: 20pt calibri; /*size in pt or px*/
    		color: purple; 
    		font-weight: bold;
    		margin: 25px 0 10px 15px;
    	}

    	h2{
           border-bottom: 1px solid #333; 
           clear: both;
           font: 11pt arial, "verdana", sans-serif;
           font-weight: bold;
           margin: 10px 0 10px 0;
           padding: 0 0 5px 0;
           width: 100%;
    	}		

    	li{ 
           font-size: 15pt;
           margin: 0 0 4px 5%;
    	}

    	p{
    	  font-size: 15pt;
    	  margin: 0 0 5px 0;
    	  padding: 0;	
    	}
        
        h3, h5 {
    	 	color: aqua;
    	}

    	em {
    		color: darkblue;
    	}

/*selector de elemento contenido dentro de otro*/
        div h4{
        	font-size: 12pt;
        	margin: 2%;
        }

 /*em sub de div. only affects directly, elemento que cumpla directo la regla > elemento hijo*/
        div > em {
        	color:yellow;

        }

        /*selector de elemento, afecta al que esta inmediato después*/
        div + h4{
        	clear: both;
        	color: orange;
        }

        /*idk*/
        p ~ ul {
        	font-family: arial, "helvetica";
        	color:;
        }
/*selector de id*/
    	#nombre{
    		font: 25pt helvetica;
    		color: pink; 
    		margin: 10px 0 10px 15px;
    	}
/*selector de clase*/
        .titulo {
        	font-family: 'gillsans', sans-serif;
        	background-color: aqua; 
        }

        .exp h4{
        	color: red;
        }

/*selector de atributo con el valor titulo*/
        a[class="titulo"] {
              font: 5px;
        }
/*selector atributo class  ~contenga, ^comience, $termine con*/
        [class="titulo"] {
              font: 30px;
        }
/*que contenga patrones ej letras*/
        a[class*="4g"]{
        font-size: 60px;
        }


    </style> <!--selector, a quien se le aplica-->


    <!--code permite colocar codigo de un leng en especifico -->
 <code>
    $c=5;
    $f=6;
    $p=$c+$f;
 </code>