/* Aspectos generales: borde y color de fondo de la calculadora */
.calc{
    background-color: lavender;
    border: 3px lightblue ridge;
    text-align: center;
    width: 250px;
}

.calc input.large{
    color: blueviolet;
    width: 60px;
}

.calc [type= button]{
    padding: 0;
    width: 35px;
}