@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');

.navbar{
    background: #E6E6FA;    /*height: 50vh mitad pag*/
}

.nav-link, .navbar-brand{
    color: black;
    cursor: pinter;
}

.nav-link{
    margin-right: 1em !important; /*maintains a rule*/
}

.nav-link:hover{
    background: black;
    color: #E6E6FA;
}

.navbar-toggler{
    background: white !important;
}

.navbar-collapse{ /*buscar flex*/
    justify-content: flex-end;
}

header {
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.60);
}

.descripcion{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.descripcion h1{
    color: blueviolet;

}

.descripcion p{
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.descripcion button {
    border: 1px solid rgb(127, 189, 240);
    background: lightblue;
    color: #fff;
}

.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h1{
    color: #E6E6FA;
    margin: 2em;
}

.about img{
    border: 1px solid #E6E6FA;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.about span{
    display: block;
    color: gray;
    position: absolute;
}

.about div.desc{ /*.desc works too*/
    padding: 2em;
    border-left: 6px solid black;

}

.about .desc h3{
    color: gray;
}

.about div.desc span{
    line-height: 2;
    color:black;
}
