@import url('https://fonts.googleapis.com/css?family=Trochut:700');

body{
    font-family: 'Trochut', cursive;
}


section#home{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bgs/bg2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

section#about{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bgs/bg.jpg);
    background-position: center;
    background-size: cover;
}

section#contact{
    background-image: url(../img/bgs/bg3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}

/*
background-image: url(../img/bgs/bg3.jpg),
                      url(../img/bgs/bg4.jpg);
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, 50%;
*/

#home h1{
    color: #E4C3A0;
}

#home h3{
    color: #F0D6BB;
}