    body{
	    background: darkblue url(../img/bg2.jpg);
	    background-size: cover;
	    font: 8pt verdana, geneva, arial;
	    color: black;
	    margin: 20px 0px 15px 0px;
	    text-align: center;
    }

	#contenedor {
		margin: auto;
		width: 800px;
		background-color: white;
		color: darkgray;
		text-align: left;
    }

    #header{
        height: 100px;
	    width: 800px;
    }

    #navegacion {
	    background: rgb(221, 204, 182);
	    padding: 3px 10px;
	    border-top: 1px solid gray;
	    border-bottom: 1px solid gray;
    }

    a.navegacion-nav{ /*can use 30 padding to center w block display*/
		color: darkolivegreen;
		display: inline-block;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-weight: bold;
		height: 30px;
		text-align: center;
		text-decoration: none;
		padding-top: 10px;
		vertical-align: middle;
		width: 192px;						
	}

	a.navegacion-nav:hover {

		color: white;
		background-color: rgb(136, 156, 100);
        margin: 0 0 0 0;
	}

	#contenedor #main{
		background-color: white;
		float: left;
		padding: 10px;
		width: 600px;
	}

    #main h1{
		text-align: center;

	}

	#main figure{
		text-align: center;
	} 

	#main p{
	   margin: 0 10px;
	   text-align: justify;
	}

	#lateral{
		background-color: beige;
		float: right;
		padding: 5px;
		width: 170px;

	}