body{
    background: gray;
    margin: 0;
}

header{
    background: white;
    padding: 10px;

}

header h1{
    margin: 0;
}

div.container{
    width: 600px;
    margin: auto;
}

div.post{
    background: white;
    margin-top: 20px;
}

div.post-header h2{
    display: inline-block;
    width: 480px;
}

div.post-header span{
    color: gray;
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
    text-align: right;
    width: 90px;
    
}

div.post img{
    width: 100%;

}

div.post h2, div.post p{
    padding: 10px;
}


