/*
Aspectos Generales: Bordes y Color de fondo de la calculadora
*/
.calculadora {
    background-color: lavender;
    border: 3px lightblue ridge;
    text-align: center;
    width: 250px;
}

.calculadora input.largo {
    color:purple;
    width: 60px;
}

.calculadora [type=button] {
    padding: 0;
    width: 35px;
}

#textoPantalla{
    background-color: white;
    border: 2px black solid;
    font-family: "Courier new";
    left: 24px;
    overflow: hidden;
    position: relative;
    text-align: right;
    width: 196px;
}